.btn {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid rgb(49, 136, 207);
    border-radius: 5px;
    cursor: pointer;
    font: inherit;
    font-weight: 300;

    transition: .2s;
    a {
        color: #000;
    }

    &:hover {
        box-shadow: 1px 1px 10px rgb(49, 136, 207);
        color: #5580a3;

        a {
            color: #5580a3;
        }
    }
}
