.edit {
   display: block;
   padding: 0;

   border-radius: 5px;
   cursor: pointer;

   transition: .2s;

   &:hover {
      background-color: rgba(173, 207, 234, 0.7);
   }
}

.editImg {
   display: block;
}