.pageNav {
    padding-top: 30px;
    margin: 0 auto;
    border-spacing: 10px 10px;
    td {
        text-align: center;
        font-size: 15px;
        max-width: 90px;
        overflow: hidden;
        cursor: pointer;
    }
   
}