.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 6fr 1fr;
    background-color: #5410AE;
}
.header > img {
    width: 60px;
    margin: 5px 20px;
    text-align: center;
}

.header > h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 36px;
    margin: 18px 0;
}
