.nav {
    grid-area: nav;
    background-color: #0494d1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.nav > .item {
    display: block;
    margin: 30px 20px;
    padding: 15px;
    text-decoration: none;
    color:aliceblue;
}


.nav > .item:hover{
    transition: 0.6s;
    background-color: #9DC8E4;
    border-radius: 10px;
}