
.loginFormContainer {
    max-width: 400px;
    margin: 0 auto;

    label {
        text-transform: capitalize;
    }
}

.loginForm {
    text-align: center;
}

.loginFormItems {
    margin-top: 60px;
}

.loginFormItem {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    input {
        margin: 15px 0;
        padding: 10px;
        border-bottom: 1px solid #000;
        font-weight: 300;
    }

    label {
        font-size: 26px;
    }

}

.checkbox {
    label {
        margin-right: 30px;
    }
    input {
       zoom: 1.5;
    }
}