.posts {
    margin-left: 20px;
}

.newPost {
    max-width: 400px;
    background-color: #fff;
    padding: 15px 15px 5px 15px;
    border-radius: 5px;

    h4 {
        text-decoration: underline;
        font-weight: 400;
    }

    button {
        margin-top: 5px;
        text-transform: capitalize;
    }

    textarea {
        width: 100%;
        min-height: 70px;
        margin: 5px;
        padding: 10px;
        border: 1px solid rgb(144, 145, 144);
        border-radius: 5px;
        font-weight: 300;
        font-size: 14px;
    }
}

.createFormBtn {
   text-align: right;
}

.allPosts {
    max-width: 400px;
    background-color: #fff;
    padding: 15px 15px 5px 15px;
    margin-top: 30px;
    border-radius: 5px;

    h4 {
        font-weight: 300;
        text-decoration: underline;
        margin-bottom: 25px;
    }
}