.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.messages {
    border: 1px solid #000;
    min-height: 700px;

    h4 {
        margin: 20px 0;
    }
    form {
        display: flex;
        align-items: center;
    }
    textarea {
        border: 1px solid #000;
        resize: none;
        height: 100%;
    }
}

