.content {
    display: flex;
    height: 100%;
    max-width: 975px
}

.dialogs {
    padding: 15px 20px;
    width: 250px;
}

.dialogs__item {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1156px;
    border-left: 1px solid #ccc;


    form {
        padding: 10px 15px;
        display: flex;
        align-items: flex-end;

        justify-content: space-between;

        [contentEditable=true]:empty:focus:before, [contentEditable=true]:empty:not(:focus):before {
            content: attr(placeholder);
            color: #bbb;
        }

        div {
            width: 640px;
            max-height: 200px;
            padding: 8px 10px;

            border: 1px solid #ddd;
            border-radius: 5px;
            outline: 0;

            overflow-y: scroll;
            &:focus {
                border-color: #bbb;
                box-shadow: 1px 1px 2px #bbb;
            }
        }
    }
}

.messages__scroll {
    width: 750px;
    flex-grow: 1;

    padding: 10px 20px;
    border-bottom: 1px solid #ccc;

    overflow-y: scroll;
}